@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #000;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

header .logo img {
  margin: 30px 0 0 40px;
  width: 90px;
}

header .main-header {
  display: flex;
}

header .main-header .leftside {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

header .main-header .leftside h1 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  margin-top: 80px;
  margin-bottom: 30px;
}

header .main-header .leftside p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 30px;
}

header .main-header .leftside form {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

header .main-header .leftside form input {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  font-size: 16px;
  padding: 5px 16px;
  margin-right: 10px;
  color: white;
  width: 300px;
}

header .main-header .leftside form button {
  color: white;
  background: #0071b7;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 16px;
  font-weight: bold;
  cursor: pointer;
}

header .main-header .leftside form button:hover {
  opacity: 0.7;
}

header .main-header .leftside .techs {
  margin-bottom: 80px;
}

header .main-header .leftside .tech {
  margin-right: 20px;
}

header .main-header .rightside {
  flex: 1;
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
}

.section1 {
  background-color: #eaeef1;
  padding-top: 50px;
}
/* Bolinhas  */
.section1 .sec1-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 40px;
  border-bottom: 2px solid #e5e5e5;
}

.section1 .sec1-header .topbar {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #c2c8cb;
}

.section1 .sec1-header .dot {
  border: 3px solid #c2c8cb;
  border-radius: 50px;
}

.section1 .questions {
  padding: 70px 15%;
}

.section1 .questions h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 30px;
}

.section1 .questions p {
  padding-bottom: 90px;
  font-size: 16px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.5);
}

.section2 {
  background-color: #1d2437;
  display: flex;
  padding: 120px 15%;
  align-items: center;
}

.section2 .sec2-text {
  flex: 1;
  margin-right: 30px;
}

.section2 .sec2-text h2 {
  font-size: 40px;
  line-height: 47px;
  color: white;
  margin-bottom: 25px;
}

.section2 .sec2-text p {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5);
}

.section2 .sec2-form {
  flex: 1;
  margin-left: 30px;
}

.section2 .sec2-form form {
  display: flex;
  flex-direction: column;
}

.section2 .sec2-form form input {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  font-size: 16px;
  padding: 10px 16px;
  color: white;
  width: 100%;
  margin-bottom: 30px;
}

.section2 .sec2-form form button {
  color: white;
  background: #0071b7;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 140px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.section2 .sec2-form form button:hover {
  opacity: 0.7;
}

footer {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  background-color: #1d2437;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

footer .logo img {
  margin: 0 0 0 40px;
  width: 90px;
}

footer .rights p {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
}
